SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/hospital_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=123
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_OPEN_IN_VIEW=false
SERVER_PORT=8080
APP_SEED_ENABLED=true
APP_SEED_ADMIN_EMAIL=admin@hospital.com
APP_SEED_ADMIN_PASSWORD=password
APP_SEED_DOCTOR_EMAIL=sarah@hospital.com
APP_SEED_DOCTOR_PASSWORD=password
